{
    "parser": "babel-eslint",
    "plugins": ["react", "react-hooks", "babel"],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "amd": true,
      "es6": true,
      "node": true,
      "mocha": true
    },
    "extends": "airbnb",
    "rules": {
      "react/jsx-filename-extension": 0,
    }
  }
